<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotikan.demo.taxitracker">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity android:name=".activities.CarStep1Activity" android:label="@string/app_name"/>
        <activity android:name=".activities.CountdownAcceptActivity" android:label="@string/app_name"/>
        <activity android:name=".activities.YesNoActivity" android:label="@string/app_name"/>

        <activity android:name=".activities.AlwaysExitsConfirmationActivity"
            android:launchMode="singleTop"
            />

        <service android:name=".utils.DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
